<div class="panel-container flexrow">
    <div class="panel-content flexcol">
        <div class="close-container">
            <a class="fa-light fa-circle-xmark" data-action="close"></a>
        </div>
        <div class="messages-column">
            {{{dialogueText}}}
        </div>
    </div>
</div>