<div class="dialogue-container">
  <div class="dialogue-portrait">

  </div>
  <div class="dialogue-panel">
    <div class="close-container">
      <a class="fa-light fa-circle-xmark" data-action="close"></a>
    </div>
  </div>
</div>