.dialogue-container {
    height: 100%;
    z-index: 50;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;

    .dialogue-panel {
        width: 50vh;
        border: 0.5rem solid transparent;
        border-image:
            linear-gradient(to top,
                white,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0)) 1 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 1rem;

        .close-container {
            color: white;
        }
    }

    .dialogue-portrait {
        width: 10rem;
        height: 12rem;
        margin: 10% 0 0;
        border: 0.3rem solid transparent;
        border-right: 0;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.6));
        background-color: rgba(0, 0, 0, 0.4);
    }
}